
body {

	font: helvetica;
	margin-top: 40px;
}

/* a custom green cursor*/
* {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur102.cur), auto !important;}

/*Color for example only- to change*/
.jumbotron {
	 background-color: #b4e4b4;
}
.display-4{
	font-weight: bold;
}
.form-inline {
	float: right;
}

/*changing link colours*/
/* unvisited link */
a:link {
  color: #ff8000;
}

/* visited link */
a:visited {
  color: #ff8000;
}

/* mouse over link */
a:hover {
  color: #45ba45;
}

/* selected link */
a:active {
  color: #c7eac7;
}

/*styling the table for the columns*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
	position: center;
	margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
	font-size: 140%
}

tr:nth-child(even) {
  background-color: #ffffff;
}

footer {
	font: helvetica;
	margin-bottom: 40px;
	background-color: #b4e4b4;
	text-align: center;
	margin-top: 40px;
	padding: 10px;
	width: 100%;
}
