
body {

	font: helvetica;
	margin-top: 40px;
}

/*Color for example only- to change*/
.jumbotron {
	 background-color: #b4e4b4;
}
.display-4{
	font-weight: bold;
}
.form-inline {
	float: right;
}

/*styling the table for the columns*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
	position: center;
	margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
	font-size: 140%
}

tr:nth-child(even) {
  background-color: #ffffff;
}

footer {
	font: helvetica;
	margin-bottom: 40px;
	background-color: #b4e4b4;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
}
