
body {

	font-family:arial;
	margin-top: 40px;
}

/* a custom green cursor*/
* {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur102.cur), auto !important;}


.jumbotron {
	 background-color: #b4e4b4;
}
.display-4{
	font-weight: bold;
}
.form-inline {
	float: right;
}

/*changing link colours*/
/* unvisited link */
a:link {
  color: #ff8000;
}

/* visited link */
a:visited {
  color: #ff8000;
}

/* mouse over link */
a:hover {
  color: #45ba45;
}

/* selected link */
a:active {
  color: #c7eac7;
}

/*styling the home table for the columns*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
	position: center;
	margin-top: 15px;
}

td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
	margin: 40px;
}

th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
	font-size: 140%
}

tr:nth-child(even) {
  background-color: #ffffff;
}


footer {
	font: helvetica;
	margin-bottom: 40px;
	background-color: #b4e4b4;
	text-align: center;
	margin-top: 40px;
	padding: 10px;
	width: 100%;
}

/*social media buttons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/*Styling What's On page*/
.calendar {
	margin-left: 60px;
}
/*Calendar header*/
.month {
  padding: 30px;
  background: #b4e4b4;
  text-align: center;
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

.month ul {
  margin: 0;
  padding: 0;
	list-style-type: none;
}

.month ul li {
  color: black;
  font-size: 24px;
	font-weight: 200;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

/* Calendar body (days) */
.days {
  padding: 15px ;
  background: #eee;
  margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
	margin-top: 10px;
  margin-bottom: 10px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
